body {
  box-sizing: border-box;
  margin: 0;
}

header, nav {
  display: flex;
}

nav {
  flex-grow: 3;
  justify-content: flex-end;
  justify-self: flex-end;
}

nav a {
  text-decoration: none;
  text-align: left;
  font-size: 2em;
  margin: .2em 1em;
}

header p {
  flex-grow: 1;
}

label {
  display: block;
  margin: 1rem;
}

input, select {
  width: 10rem;
  margin: 0 .5rem;
}
